# URL de la API del Backend (Ej: https://caaa-backend.easypanel.host/api)
VITE_API_URL=http://localhost:5000/api

# URL de la Calculadora de Loadsheet (Ej: https://loadsheet-calculator.vercel.app)
VITE_LOADSHEET_URL=http://localhost:5174
