.header__user {
  margin-right: 20px;
  font-weight: 500;
}

.btn-logout {
  padding: 8px 14px;
  background-color: #e74c3c;
  border-radius: 6px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #c0392b;
}
